<!doctype html>
<html lang="en">

<%- include('head', { title: name }) %>

<body>

<!-- Navigation -->
<%- include('nav') %>
<!-- End Navigation -->

<!-- Search -->
<%- include('search') %>
<!-- End Search -->

<section>
    <div class="container">              
        <div class="row" class="cities"></div>
        <div class="col-md-12" style="margin-top: 0px; padding: 10px">                 
            <h1 style="text-align: center; font-weight: 900; font-size: 40px; color: #00a7b9"><%= name %><br></h1>
        </div> 
    </div>
</section>

<section>
    <div class="container" style="margin-top:40px;">              
        <div class="row" " class="cities"></div>
        <div class="col-md-12" style="font-size: 32px; margin-top: 0px; padding: 1px">                 
        <p style="text-align: center; font-weight: 900; font-size: 40px; color: #909090"><%= name %> Communities</p>
        </div> 
    </div>
</section>                  
    

<!-- Communities -->
<section>              
<div class="container">
    <div class="row" class="cities" style="color: black;"></div>
    <button class="accordion">Select Community </button>
        
    <div class="panel" >
        <% for (const key of communityKeys) { %>
        <h4><%= key %></h4>
        <ul style="font-size: 20px;">
            <% for (const community of communitiesByLetter[key]) { %>
            <li>
                <h4><a class="community-links" class="community-links" title="<%= name %> Real Estate| <%= name %> Homes|<%= name %> Condos" href="<%= link %>/<%= community.link %>"><%= community.name %></a></h4>
            </li>
            <% } %>
        </ul>
        <% } %>
    </div>
</div>
</section>                  


<!-- Jensen Beach Real Estate -->
<div class="container">
    <div class="row" class="cities" style="color: black; margin-top: 50px;">
        <div class="col-md-12" style="padding: 15px">                 
            <h3 style="text-align: center; font-weight: 900; font-size: 40px; color: #909090">Jensen Beach Real Estate<br></h3>
            <p style="text-align: center; font-weight: 900; font-size: 24px; color: black">Select Price Range</p>                     
        </div>
        
        <% for (const price of realEstate) { %>
        <div class="col-lg-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="<%= price.link %>" title="<%= name %> real estate for sale <%= price.title %>."><%= price.title %></nobr></a></button>                      
        </div>
        <% } %>

    </div>
</div>
    
<!-- Jensen Beach Homes-->
<div class="container">
    <div class="row" class="cities" style="color: black; margin-top: 50px;">
        <div class="col-md-12" style="padding: 15px">                 
            <h3 style="text-align: center; font-weight: 900; font-size: 40px; color: #909090">Jensen Beach Homes<br></h3>
            <p style="text-align: center; font-weight: 900; font-size: 24px; color: black">Select Price Range</p>                     
        </div>
        
        <% for (const price of homes) { %>
        <div class="col-lg-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="<%= price.link %>" title="<%= name %> real estate for sale <%= price.title %>."><%= price.title %></nobr></a></button>                      
        </div>
        <% } %>

    </div>
</div>

<!-- Jensen Beach Condos -->
<div class="container">
    <div class="row" class="cities" style="color: black; margin-top: 50px;">
        <div class="col-md-12" style="padding: 15px">                 
            <h3 style="text-align: center; font-weight: 900; font-size: 40px; color: #909090">Jensen Beach Condos<br></h3>
            <p style="text-align: center; font-weight: 900; font-size: 24px; color: black">Select Price Range</p>                     
        </div>
        
        <% for (const price of condos) { %>
        <div class="col-lg-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="<%= price.link %>" title="<%= name %> real estate for sale <%= price.title %>."><%= price.title %></nobr></a></button>                      
        </div>
        <% } %>

    </div>
</div>

<!-- Footer -->
<%- include('footer') %>

</body>
</html>